{% extends "base.html" %}

{% block content %}
    {{ section.content | safe }}

    {% set blog = get_section(path="blog/_index.md") %}
    <ul class="posts">
        {% for page in blog.pages %}
        {% if page.lang == lang %}
        <li>
            <a href="{{ page.permalink }}">{{ page.title }}</a>
            <span class="date">{{ page.date | date(format="%Y-%m-%d") }}</span>
        </li>
        {% endif %}
        {% endfor %}
    </ul>

    {% if paginator %}
        {% include "partials/pagination.html" %}
    {% endif %}

    {% set tags = get_taxonomy(kind="tags", lang=lang) %}
    {% if tags.items %}
    <h2>Tags</h2>
    <div class="tags">
        {% for term in tags.items %}
        <a href="{{ term.permalink }}" class="tag">#{{ term.name }}</a>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
